.project {
    margin-top:80px;
    width: 100%;
    position: static;
    height: fit-content;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
  }

  .project-basic{
    margin-top:0px;
    position:static;
    height:fit-content;
    display:flexbox;
    justify-items: center;
    align-items: center;
    position:static;

  }

  
  .project-basic h1 {
    
    margin-top: 5px;
    position:static;
    color: #3e497a;
    font-size: 25px;
  }
  .project-basic img {

    margin-top:20px;
    width: 100%;
    height:400px;
    position:static;
    border-radius: 10px;
  }
  
  .project-basic p {
    display:block;
    margin-top:10px;
    font-size: 18px;
    color: #3e497a;
    position: static;
    
  }
  
  .project-basic svg {
    margin-top:10px;
    font-size: 25x;
    padding-left:5%;
    color: #3e497a;
    position:static;
    
  }

.show-Description{
  height:100px;
  display:contents;
  justify-content:center;
  align-items: center;
  position:static;
}

  .about-this-Button{
    margin-top:10px;
    color :azure;
    background-color: navy;
    border-radius:5px;
    border-color:aqua;
    position:static;
  }

  .about-this-Button:hover{
    color :white;
    background-color:green;
    border-radius:5px;
    border-color:green;
  }
  .show{
    margin-top:10px;
    position:static;
    font-family: 'Times New Roman', Times, serif;
    font-size:15px;
    padding: 0 50px ;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    font-weight: lighter;
  }

  .blockDiagram{
    position:static;
    margin-top:20px;
    display:contents;
    flex-direction: vertical;
    justify-content: center;
    align-items: center;
  }
  .view-blockDiagram-Button{ 
    margin-top:20px;
    color :azure;
    background-color: navy;
    border-radius:5px;
    border-color:aqua;
    position:sticky;
  }

  .view-blockDiagram-Button:hover{
    color :white;
    background-color:green;
    border-radius:5px;
    border-color:green;
    position:sticky;
  }

  
  .show-blockDiagram{
    display:contents;
    justify-content: center;
    align-items: center;
  } 
  
  .show-blockDiagram h5{
    font-family:'Times New Roman', Times, serif;
    font-size:20px;
    color:navy;
  }
  